.listHolder {
  padding: 0;
  text-align: center;
}
.listItem {
  text-transform: uppercase;
  padding: 11px 0;
  cursor: pointer;
  color: #373737;
  font-weight: bolder;
}
.back {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}
